@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Click on To Do List to see my To Do list. I put this here because I can.</p>
</div>
